# Building and releasing library:
*.egg-info
*.pyc
*.so
build/
dist/
venv/

# Mac OS
.DS_Store

# Python tools
.mypy_cache/
.pytype/
.ipynb_checkpoints

# Editors
.idea
.vscode

# SLURM jobs files
logs/
checkpoints/
slurm.*
slurm_l65_gpu_template_experiment_*
machine.file.*